<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="webmail.cambodiapostbank.com" port="25" enableSsl="true" defaultCredentials="false" userName="adcpbank\pisey.phon" password="asey@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="con" connectionString="server=ECB004;database=crm_db;uid=sa;password=Cpbank@123;" />
  </connectionStrings>
  <appSettings>
    <add key="EmailID" value="info@cambodiapostbank.com" />
    <add key="SendEmail" value="true"/>
    <!--Place the names of the files types you want searching in the following line sepeararted by commas-->
    <add key="FilesTypesToSearch" value=".htm,.html,.asp,.shtml,.aspx" />
    <!--Place the names of the dynamic files types you want searching in the following line separated by commas-->
    <add key="DynamicFilesTypesToSearch" value=".asp,.shtml,.aspx" />
    <!--Place the names of the folders you don't want searched in the following line spearated by commas-->
    <add key="BarredFolders" value="cgi_bin,_bin,bin,_vti_cnf,_notes,images,scripts" />
    <!--Place the names of the files you don't want searched in the following line spearated by commas include the file extension-->
    <add key="BarredFiles" value="adminstation.htm,no_allowed.asp,AssemblyInfo.vb,Global.asax,Global.asax.vb,SiteSearch.aspx" />
    <!--Set this boolean to False if you are not using an English language web site-->
    <add key="EnglishLanguage" value="True" />
  </appSettings>
</configuration>